{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}
<h1>Attendance System by Facial Recognition</h1>

<p></p>Students: <b>Fatemeh (20226155) - Nooshin (20233693)</b></p>

<h1>Introduction</h1>
<p>
    "It is an attendance system that utilizes facial recognition. Initially, students' information, including their names, student numbers, and photos, is input into the system. When an individual stands in front of the camera, their face is identified and compared with the stored photos. If the person's information is registered in the system, a 'Yes' will be marked against their name in the table and in the presence column. If the person is not registered, they will be labeled as 'unknown.'"
</p>
{% endblock %}